* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

button{
    background: none;
    outline: none;
}

input{
    background: none;
    border: none;
}