

.level{
    display: flex;
    align-items: center;
    margin-bottom: 43px;

    p{
        margin-right: 20px;
        font-size: 24px;
        font-weight: 500;
    }

    span{
        font-size: 18px;
    }
}

.needs{
    display: flex;
    opacity: 0.3;

    p{
        font-size: 14px;
    }

    span{
        font-size: 25px;
    }

    div:not(:last-child){
        margin-right: 65px;
    }
}